@charset "ISO-8859-1";
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

label, input, button {
    margin: 5px 0;
}

#productList, #cartItems, #orderHistory {
    display: flex;
    flex-direction: column;
}
